body {
    background-color: #dedbe0;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 70vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.card-header {
    background-color: #620019 !important;
}

.card button {
    background: #620019;
    border: #620019;
}

.card button:hover {
    background: #620019;
    border: #620019;
}

.card button:focus {
    background: #620019;
    border: #620019;
}

.main-footer {
    background-color: #dedbe0;
}

a {
    color : #455a64;
}

.btn.btn-primary {
    background-color: #455a64;
    border-color: #455a64;
}

.right-head {
    margin-top: 1%;
    margin-bottom: 1%;
}

.sesion-card{
    border-style: double;
    padding: 2%;
    width: 70%;
}

.profile .user-name span {
    font-size: 1em;
}

.profile .user-name a {
    float: right;
}

.custom-control-label a {
    color: #455a04;
}

.card-title {
    font-size: 1.8em;
}

.anuncio {
    text-decoration: none;
    padding: 2%;
}
.anuncio.row {
    width: 100%;
}
.anuncio-footer {
    margin-left: 5%;
    margin-top: -10%;
}

/*Progress Bar*/
#upload-progress {
    height: 20px;
    border: 1px solid #ddd;
    width: 100%;
}

#upload-progress .progress-bar {
    background: #bde1ff;
    width: 0;
    height: 20px;
}
.countdown {
    height: 4.2rem;
    width: 8rem;
}
.horario {
    font-size: 10px;
}
.subtext {
    margin-left: 4rem !important;
}
.label1{
    font-weight: bold;
}
body {
    font-family: 'Lato', sans-serif;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
.w-sm-100 {
width:100%!important;
}
.w-sm-75 {
width:75%!important;
}
.w-sm-50 {
width:50%!important;
}
.w-sm-25 {
width:25%!important;
}
.h-sm-100 {
height:100%!important;
}
.h-sm-75 {
height:75%!important;
}
.h-sm-50 {
height:50%!important;
}
.h-sm-25 {
height:25%!important;
}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
.w-md-100 {
width:100%!important;
}
.w-md-75 {
width:75%!important;
}
.w-md-50 {
width:50%!important;
}
.w-md-25 {
width:25%!important;
}
.h-md-100 {
height:100%!important;
}
.h-md-75 {
height:75%!important;
}
.h-md-50 {
height:50%!important;
}
.h-md-25 {
height:25%!important;
}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
.w-lg-100 {
width:100%!important;
}
.w-lg-75 {
width:75%!important;
}
.w-lg-50 {
width:50%!important;
}
.w-lg-25 {
width:25%!important;
}
.h-lg-100 {
height:100%!important;
}
.h-lg-75 {
height:75%!important;
}
.h-lg-50 {
height:50%!important;
}
.h-lg-25 {
height:25%!important;
}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
.w-xl-100 {
width:100%!important;
}
.w-xl-75 {
width:75%!important;
}
.w-xl-50 {
width:50%!important;
}
.w-xl-25 {
width:25%!important;
}
.h-xl-100 {
height:100%!important;
}
.h-xl-75 {
height:75%!important;
}
.h-xl-50 {
height:50%!important;
}
.h-xl-25 {
height:25%!important;
}
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
h3 {
    font-size: 30px !important;
}
h5 {
    font-size: 1.25rem;
}
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
h3 {
    font-size: 20px !important;
}
h5 {
    font-size: 0.8rem !important;
}
h6 {
    font-size: 0.6rem !important;
}
}

.button-submit:disabled {
    color: #fff;
    background-color: #455a64;
    border-color: #455a64;
}

.button-submit:hover {
    color: #fff;
    background-color: #455a7e;
    border-color: #4b5a7e;
}
